.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1, h2 {
  color: #2c3e50;
}

button {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #3498db;
  color: white;
}

input {
  padding: 5px;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.error {
  color: red;
}

/* weather-card.css */
.weather-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: #fff;
}

.weather-card h3 {
  font-size: 1.5em;
  margin-bottom: 12px;
}

.weather-card ul {
  list-style-type: none;
  padding: 0;
}

.weather-card li {
  margin: 8px 0;
  font-size: 1em;
}

.weather-card strong {
  font-weight: bold;
}
